# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
skygram-web/.wrangler/tmp/deploy-YXLsDn/no-op-worker.js
skygram-web/.wrangler/tmp/deploy-8jRl3f/no-op-worker.js
skygram-web/.wrangler/tmp/deploy-8jRl3f/no-op-worker.js.map
