

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-red {
    background-color: #f44336;

  }
  .bg-yellow {
    background-color: #ffeb3b;
  }

  .bg-blue {
    background-color: #2196f3;
  }

  .bg-gray {
    background-color: #9e9e9e;
  }
}

@layer components {
  .btn {
    @apply h-7  hover:scale-125 transition-transform duration-200 ease-out cursor-pointer;
  }
}
